<div class="col-xs-12 pinstripe project-summary">
    <div class="project-thumbnail">
        <%= link_to project_path(project) do %>
            <%= image_tag "http://lorempixel.com/100/100/technics/", class: 'project-thumbnail' %>
        <% end %>
    </div>

    <div class="project-title">
        <span class="lead">
            <%= link_to project.name, project_path(project) -%>
        </span>
        by
        <%= link_to project.user.username %>
    </div>

    <div class="project-description">
        <%= project.description %>
    </div>

    <div class="project-category-tag hidden-xs">
        <%= project.category.titleize %>
    </div>

    <div class="project-stats">
        Last updated <%= time_ago_in_words(project.updated_at) %> ago
    </div>
</div>
