<div class="col-xs-12 pinstripe project-summary">
    <%= link_to project_path(project) do %>
        <div class="project-thumbnail" style="background-image:url(<%=project.thumbnail_url %>)">
        </div>
    <% end %>

    <div class="project-title">
        <span class="lead">
            <%= link_to project.name, project_path(project) -%>
        </span>
        by
        <%= link_to project.user.username %>
    </div>

    <div class="project-description">
        <%= project.description.truncate(140) %>
    </div>

    <div class="project-category-tag hidden-xs">
        <%= project.category.titleize %>
    </div>

    <div class="project-stats">
        Last updated <%= time_ago_in_words(project.updated_at) %> ago
    </div>
</div>
