<div class="row">
    <div class="col-xs-12">
        <h1><%= link_to @project.name, project_path(@project) %></h1>
        by
        <%= @project.user.username %>

        <% if current_user == @project.user %>
            <span class="pull-right">
                <%= link_to 'Edit', edit_project_path(@project) %>
                |
                <%= link_to "Manage images", project_images_path(@project) %>
            </span>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Started on <%= @project.created_at.strftime("%b %-d %Y, %H:%M:%S") %>
    </div>
</div>
