<div class="row">
    <div class="col-xs-12">
        <%= link_to @project.cover_image_url, target: '_blank', id: "large_image" do %>
            <img src="<%= @project.cover_image_url %>"/>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" id="image_caption">
        <%= @project.cover_image.try(:name) %>
    </div>
</div>

<% if @project.user == current_user %>
    <div class="row">
        <div class="col-xs-12" id="image_controls">
            <span class="pull-left">Link to this image:&nbsp;</span>
            <code class="pull-left">![](image_<span id="link_image_id"><%= @project.cover_image_id %></span>)</code>
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-xs-12">
        <% @project.images.each do |image| %>
            <%= link_to "#", class: 'project-thumbnail' do
            %><img src="<%= image.image.url(:thumb) %>"
                   alt="<%= image.name %>"
                   title="<%= image.name %>"
                   data-id="<%= image.id %>"
                   data-url="<%= image.image.url %>"/><% end %>
        <% end %>
    </div>
</div>
