<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1><%= @project.name %></h1>
        by
        <%= @project.user.username %>

        <% if current_user == @project.user %>
            <%= link_to 'Edit', edit_project_path(@project), class: 'pull-right' %>
        <% end %>

    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        Started on <%= @project.created_at.strftime("%b %-d %Y, %H:%M:%S") %>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= link_to @project.thumbnail.url, target: '_blank' do %>
            <div class="thumbnail" style="background-image:url(<%=@project.thumbnail.url(:thumb) %>)"></div>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= @project.description %>
    </div>
</div>

<% @project.blog_posts.each do |post| %>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <strong><%= post.created_at.strftime("%b %-d %Y, %H:%M:%S") %></strong>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <%= post.text %>
        </div>
    </div>
<% end %>
