<div class="row" id="controls">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= render partial: 'header' %>

        <hr/>

        <% if @project.images.any? %>
            <%= render partial: 'images' %>
            <hr/>
        <% end %>

        <div class="row">
            <div class="col-xs-12">
                <%= raw(@markdown_parser.render(@project.description)) %>
            </div>
        </div>

        <% if @project.user == current_user %>
            <hr/>
            <%= render partial: 'blog_posts/form', locals: {blog_post: @blog_post} %>
        <% end %>

        <% @project.blog_posts.order("created_at desc").each do |post| %>
            <hr/>

            <div class="row">
                <div class="col-xs-12">
                    <a href="<%= project_blog_post_url(@project, post) %>">
                        <strong><%= post.created_at.strftime("%b %-d %Y, %H:%M:%S") %></strong>
                    </a>

                    <% if @project.user == current_user %>
                        <span class="pull-right">
                            <%= link_to "Edit", edit_project_blog_post_path(@project, post), class: 'small' %>
                            |
                            <%= link_to "Delete", project_blog_post_path(@project, post), method: 'delete', class: 'small', data: { confirm: "Are you sure?" } %>
                        </span>
                    <% end %>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 blog-post">
                    <%= raw(@markdown_parser.render(post.preview_text)) %>
                </div>
            </div>
        <% end %>
    </div>
</div>
