<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1><%= @project.name %></h1>
        by
        <%= @project.user.username %>

        <% if current_user == @project.user %>
            <%= link_to 'Edit', edit_project_path(@project), class: 'pull-right' %>
        <% end %>

    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        Started on <%= @project.created_at.strftime("%b %-d %Y, %H:%M:%S") %>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= link_to @project.thumbnail.url, target: '_blank' do %>
            <img class="col-xs-12" src="<%=@project.thumbnail.url() %>)"/>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= @project.description %>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <hr/>
    </div>
</div>

<% if @project.user == current_user %>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <%= form_for @blog_post, url: project_blog_posts_path(@project) do |f| %>
                <input type="hidden" id="project_id" value="<%= @project.id %>"/>
                <div class="form-group">
                    <%= f.label :text, "Add post" %>
                    <%= f.text_area :text, class: 'form-control', rows: 5  %>
                </div>

                <div class="form-group">
                    <%= link_to "Big editor", "#", id: 'big_editor_link', class: 'small' %>&nbsp;|&nbsp;
                    <%= link_to "Formatting", "#", id: 'formatting_help_link', class: 'small' %>&nbsp;&nbsp;
                    <span id="indicator" class="small text-muted"></span>
                    <%= f.submit 'Post', class: 'btn btn-default pull-right' %>
                </div>
            <% end %>
        </div>
    </div>

    <div class="row" id="formatting_help" style="display: none">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <p>
                We use <%= link_to "Markdown", "http://daringfireball.net/projects/markdown/syntax" %> for formatting blog posts.
            </p>
            <p>Quick reference:</p>
            <ul>
                <li>*italics* is <em>italics</em></li>
                <li>**bold** is <strong>bold</strong></li>
                <li>[Link text](http://google.com)</li>
                <li>![alt text](image_XXX "title") <em>(Click one of your images to get the link text)</em></li>
                <li>To format something like code, put four spaces at the beginning of each line</li>
                <li>You can also start and end code blocks with ~~~ (three tildes):
                    <pre>~~~ruby
@something.whatever(2, "some string")
~~~</pre>
                    becomes
                    <pre><code class="prettyprint lang-ruby">@something.whatever(2, &quot;some string&quot;)
</code></pre>
                </li>
            </ul>
        </div>
    </div>
<% end %>

<% @project.blog_posts.order("created_at desc").each do |post| %>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <strong><%= post.created_at.strftime("%b %-d %Y, %H:%M:%S") %></strong>
            <% if @project.user == current_user %>
                <%= link_to "Delete", project_blog_post_path(@project, post), method: 'delete', class: 'small pull-right', data: { confirm: "Are you sure?" } %>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 blog-post">
            <%= raw(@markdown_parser.render(post.text)) %>
        </div>
    </div>
<% end %>
