<!DOCTYPE html>
<html>
    <head>
        <title>Somethingibuilt</title>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </head>
    <body class="<%= controller_name %> <%= action_name %>">
        <%= render partial: 'shared/navbar' %>
        <%= render partial: 'shared/flash' %>
        <div class="container" id="main">
            <%= yield %>
        </div>
    </body>
</html>
